<div class="modal" id="addTaskPopup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form
        *ngIf="newTaskForm"
        [formGroup]="newTaskForm"
        (ngSubmit)="submit()"
      >
        <div class="modal-body">
            <div class="mb-3">
              <label for="title" class="form-label">
                Task title:
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title"
              >
              <p
                *ngIf="newTaskForm.controls['title'].invalid"
                class="text-danger"
              >
                Required field
              </p>
            </div>
            <div class="mb-3">
              <label for="expiryDate" class="form-label">
                To be done until:
                <span class="text-danger">*</span>
              </label>
              <input
                type="date"
                class="form-control"
                id="expieyDate"
                formControlName="expiryDate"
              >
              <p
                *ngIf="newTaskForm.controls['expiryDate'].invalid"
                class="text-danger"
                >
                Date should be in the future
              </p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button
            *ngIf="newTaskForm"
            type="submit"
            class="btn btn-primary"
            [disabled]="newTaskForm.invalid"
            data-bs-dismiss="modal"
          >
            Save
          </button>
        </div>
    </form>
    </div>
  </div>
</div>
